<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>JoseBeloDelfino - Teste</title>
    <link href="~/Content/Bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Bootstrap/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/Content/Bootstrap/css/sb-admin.css" rel="stylesheet">

    @RenderSection("style", required: false)
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="/Funcionario/index">OnTop - Teste</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="/Funcionario/index">
                        <i class="fa fa-fw fa-home"></i>
                        <span class="nav-link-text">Home</span>
                    </a>
                </li>

            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Sair
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="container body-content">
                <div id="mensagem"></div>
                @RenderBody()
                <hr />
            </div>

            <footer class="sticky-footer">
                <div class="container">
                    <div class="text-center">
                        <small>Copyright © Your Website 2018</small>
                    </div>
                </div>
            </footer>
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fa fa-angle-up"></i>
            </a>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Pronto para sair?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Clique em "Logout" se você realmente deseja sair.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <form method="post" action="../Login/Logout">
                                <button type="submit" class="btn btn-primary btn-block">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <script src="~/Scripts/jquery-3.3.1.js"></script>
            <script src="~/Scripts/jquery.validate.js"></script>
            <script src="~/Content/Bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="~/Content/Bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
            <script src="~/Content/Bootstrap/vendor/chart.js/Chart.min.js"></script>
            <script src="~/Content/Bootstrap/vendor/datatables/jquery.dataTables.js"></script>
            <script src="~/Content/Bootstrap/vendor/datatables/dataTables.bootstrap4.js"></script>
            <script src="~/Content/Bootstrap/js/sb-admin.min.js"></script>
            <script src="~/Content/Bootstrap/js/sb-admin-datatables.min.js"></script>

            @RenderSection("scripts", required: false)
        </div>
</body>
</html>